*.jar
*.pyc
*.backup
*.class
*.java
*.deb
*.log
*.sql
*.gz
data/
__pycache__
.webassets-cache
.vscode/
.env
.env.external-db
client_secret_*.json
credentials.json
token.json
venv
pec.log
docker-compose.npm.yml
*entrypoint/
nginx/
esus-*/
certificates/
opt-esus/